<div class="" fxLayout="column">
  <!-- START: Background map and search-bar Area -->
  <div>
      <div class="map-search" fxLayout="column" fxLayoutAlign="center stretch">
        <div>                    
            <div class="tagline" fxLayout="row" fxLayoutAlign="center start">        
                <div fxFlex="35"  fxFlex.md="50" fxFlex.lt-md="95">
                    <div fxLayout="row">       
                      <img src="..\..\..\..\..\assets\icons\icon-schools.svg" alt="" />
                      <span><strong>Find</strong> the right school and Create a <strong>better future</strong></span>  
                    </div>
                </div>                     
              </div>
        </div>     

        <!--START: Main-search -->
        <div>
            <div class="" fxLayout="row" fxLayoutAlign="center start">  
              <div fxFlex="30" fxFlex.md="50" fxFlex.lt-md="95">
                <div class="main-search-wrapper">  
                    <app-searchby></app-searchby>                    
                    <app-searchbox></app-searchbox>
                </div>         
              </div>                 
            </div>              
        </div>
        
        <!--END: Main-search -->
      </div>
  </div>  
  <!-- END: Background map and search-bar Area -->

  <!-- START: landing-features  -->    
  <div class="landing-features" fxLayoutAlign="center start">
    <div fxFlex.gt-md="70" fxFlex.lt-lg="95" fxFill>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between stretch" fxLayoutWrap>
        <div class="p-xs" fxFlex.sm="50" >
            <mat-card class="feature-box">
                <img src="..\..\..\..\..\assets\icons\icon-stat.svg" alt="" />         
                <mat-card-content>
                  <p>Statistic and official school data in one place</p>
                </mat-card-content>
              </mat-card>
        </div>
        <div class="p-xs" fxFlex.sm="50">
          <mat-card class="feature-box">
              <img src="..\..\..\..\..\assets\icons\icon-feature-2.svg" alt="" />
            <mat-card-content>
              <p>Community Reviews and Ratings</p>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="p-xs" fxFlex.sm="50">
          <mat-card class="feature-box">
              <img src="..\..\..\..\..\assets\icons\icon-ofstet-rating.svg" alt="" />
            <mat-card-content>
              <p>Ofsted Rating and Inspection Reports</p>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="p-xs" fxFlex.sm="50">
          <mat-card class="feature-box">
              <img src="..\..\..\..\..\assets\icons\icon-feature1.svg" alt="" />     
            <mat-card-content>
              <p>Filter result using Catchment Area and find out where to live to get in</p>
            </mat-card-content>
          </mat-card>
        </div>       
      </div>
    </div>
  </div>        
  <!-- END: landing-features  -->
  
  <!-- START: Landing page description -->
  <div class="about-landing-page" fxLayoutAlign="center start">
      <div fxFlex.gt-md="70" fxFlex.lt-lg="95">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
            <div fxFlex="50" fxLayoutAlign="start start" >
              <img fxFill src="..\..\..\..\..\assets\images\photo1.png"/>
            </div>
            <div fxFlex>
              <h3>Looking for admission in top rated schools in UK ? <br>Searching a school in the neighbourhood?<br></h3>
              <h3 style="font-size: 22px;">Find the right school and create a better future</h3>
              <p>The schoolopedia  is a goto platform for parents, to search over 30,000 schools in UK for the bright future of their children.</p>
              <p>We have over 10 years of data empowering fair comparisons to be made among schools. An easy and interactive way of finding the right school, along with the performance statistics  of the various school it allows you to search nearby schools by name/postcode and get a list of schools on a map view alongwith all the relevant information to that particular school.You can Filter schools by Distance, rating,Gender, Religious character,Type, Age range as per your need and get navigation to  school from your place and put those in your wishlist. You will also have access to Ofsted Inspection reports and Performance matrix which will help you in making right decision about their child’s education.</p>
              <!-- <ul>
                <li>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</li>
                <li>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages</li>
                <li>Recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</li>
              </ul> -->
            </div>
        </div>
      </div>         
  </div>   
  <!-- END: Landing page description -->
</div>



