<footer>
    
    <div class="advertisement">        
            <div fxLayout="row" fxLayoutAlign="center center">
                    <div fxFlex="70" fxFlex.lt-lg="100">
                        <swiper>
                            <div>
                                <img src="..\assets\images\ads\card 1.png" alt="">
                            </div>
                            <div>
                                <img src="..\assets\images\ads\card 2.png" alt="">
                            </div>
                            <div>
                                <img src="..\assets\images\ads\card 3.png" alt="">
                            </div>
                            <div>
                                <img src="..\assets\images\ads\card 3.png" alt="">
                            </div>
                            <div>
                                <img src="..\assets\images\ads\card 1.png" alt="">
                            </div>
                            <div>
                                <img src="..\assets\images\ads\card 2.png" alt="">
                            </div>
                            <div>
                                <img src="..\assets\images\ads\card 3.png" alt="">
                            </div>
                            <div>
                                <img src="..\assets\images\ads\card 3.png" alt="">
                            </div>
                            <div>
                                <img src="..\assets\images\ads\card 1.png" alt="">
                            </div>
                            <div>
                                <img src="..\assets\images\ads\card 2.png" alt="">
                            </div>
                            <div>
                                <img src="..\assets\images\ads\card 3.png" alt="">
                            </div>
                            <div>
                                <img src="..\assets\images\ads\card 3.png" alt="">
                            </div>
                        </swiper>  
                    </div>
                </div>                   
    </div>   
    <div class="footer-bottom" fxLayoutAlign="end">
        <p>Copyright 2018 | <a>Contact Us</a></p>
    </div>
</footer>