<div [formGroup]="parentForm">
  <!-- Address Line 1(House Number) -->
  <!-- <div  [formGroupName]="childForm">   
    <mat-form-field>
        <input matInput placeholder="Address Line 1 (House Number)" formControlName="addressLine1">
    </mat-form-field>            
  </div> -->
  <!-- Address Line 2(Street Number) -->
  <!-- <div  [formGroupName]="childForm">      
    <mat-form-field>
        <input matInput placeholder="Address Line 2 (Street Number)" formControlName="addressLine2">
    </mat-form-field>         
  </div> -->
  <!-- Address Line 3(County) -->
  <!-- <div  [formGroupName]="childForm">          
    <mat-form-field>
        <input matInput placeholder="Address Line 3 (County)" formControlName="addressLine3">
    </mat-form-field>     
  </div> -->
  <!-- Address Line 4(City) -->
  <!-- <div  [formGroupName]="childForm">         
    <mat-form-field>
        <input matInput placeholder="Address Line 4 (City)" formControlName="addressLine4">
    </mat-form-field>      
  </div> -->
  <!-- Address Line 5(Posrt code) -->
  <div  [formGroupName]="childForm" fxLayout="column">     
    <mat-form-field>
        <input matInput placeholder="Postcode *" formControlName="addressLine5">
    </mat-form-field>          
  </div>
</div>