.side-nav-filter{
    background: #15b2d2;
    padding: 10px;
    color:#fff;
    position: relative;   
    z-index: 998;
}

.map-view{
    position: relative;
}
.side-nav-toggle{
    position: absolute; 
    background: rgba(255, 255, 255, 0.8); 
    top: 0; 
    right: 0; 
    margin:0 -44px 0 0; 
    z-index: 997;
}
.side-nav-toggle mat-icon{
    padding: 5px 15px 10px 5px;
    font-size: 35px; 
}

/* .school-listview-wrapper{
    overflow: scroll;
    height: 100vh;
}

.school-listview-wrapper::-webkit-scrollbar {    
    width: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.school-listview-wrapper::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  } */